<div class="container">
  <div class="row">
    <div class="col-lg-2 col-sm-6 col-md-6 d-flex align-items-stretch justify-content-center" *ngFor="let product of products">
      <div class="card card-1 shadow">
        <a routerLink="../main/product/{{product.id}}" routerLinkActive="active" ariaCurrentWhenActive="page"
          class="text-decoration-none">
          <img src="{{ product.img}}" class="custom-img" alt="{{product.name}}" height="310" width="310">
          <div class="card-body p-1">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text">{{product.price}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
