<div class="container">
    <form (ngSubmit)="onLogin()" [formGroup]=""loginForm></form>
        <div class="mb-3">
          <label  class="form-label">Nombre</label>
          <input type="text"
          formControlName="name"
          class="form-control" placeholder="Nombre" [(ngModel)] = "nombre">
        </div>
        <div class="mb-3">
          <label class="form-label">Apellido</label>
          <input type="text" 
          formControlName="surname"
          class="form-control" placeholder="Apellido" [(ngModel)] = "apellido">
        </div>
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input type="email" 
          formControlNae="username"
          class="form-control" placeholder="Email" [(ngModel)] = "email">
        </div>
        <div class="mb-3">
          <label  class="form-label">Telefono</label>
          <input type="text" 
          formControlName = "phone"
          class="form-control" placeholder="Telefono" [(ngModel)] = "telefono">
        </div>
        <div class="mb-3">
          <label  class="form-label">Departamento</label>
          <input type="text" 
          formControlName="departament"
          class="form-control" placeholder="Departamento" [(ngModel)] = "departamento">
        </div>
        <div class="mb-3">
          <label  class="form-label">Ciudad</label>
          <input type="email"
          formControlName="city"
          class="form-control" placeholder="Ciudad" [(ngModel)] = "ciudad">
        </div>
        <div class="mb-3">
          <label  class="form-label">Contraseña</label>
          <input type="password" 
          formControlName="password"
          class="form-control" placeholder="Contraseña" [(ngModel)] = "contrasena">
        </div>
      
      <div class="container">
        <app-datos-ususario
        [email]="email"
        [contrasena]="contrasena"
        (emailHijo)="calculoEmail($event)"
        (contrasenaHijo)="calculoContrasena($event)"
        ></app-datos-ususario>
      </div>
</div>
