<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
              <img src="https://copiweb.com/523-thickbox_default/bolsos-de-tela-personalizados.jpg" alt="" height="310">
              <div class="card-body">
                <p class="card-text">Hand bag personalized</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">price</small>
                </div>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
              <img src="https://r.rp-static.com/r/catalog/public/e69cba9eb7d8c00e3683d9fda206df093903895b/780/bolso-shopper-personalizado.jpg?lang=es&v=2023-04-12T09:31:07+02:00" alt="" height="310">
              <div class="card-body">
                <p class="card-text">Hand bag personalized</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">price</small>
                </div>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
              <img src="https://cdn.wallapop.com/images/10420/ex/qi/__/c10420p903191269/i3291464799.jpg?pictureSize=W640" alt="" height="310">
              <div class="card-body">
                <p class="card-text">Hand bag personalized</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">price</small>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
