<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/dashboard/main" routerLinkActive="active" href="#" class="nav-link link-body-emphasis" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Home
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/shirts" routerLinkActive="active" href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#shirts"></use></svg>
          Shirts
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/handBags" routerLinkActive="active" href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#hand-bags"></use></svg>
          Hand bags
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/mugs" routerLinkActive="active" href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#mugs"></use></svg>
          Mugs
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/us" routerLinkActive="active" href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#us"></use></svg>
          Us
        </a>
      </li>
    </ul>
  </div>
