<div class="container">
    
        <div class="mb-3">
          <label  class="form-label">Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre" [(ngModel)] = "nombre">
        </div>
        <div class="mb-3">
          <label class="form-label">Apellido</label>
          <input type="text" class="form-control" placeholder="Apellido" [(ngModel)] = "apellido">
        </div>
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input type="email" class="form-control" placeholder="Email" [(ngModel)] = "email">
        </div>
        <div class="mb-3">
          <label  class="form-label">Telefono</label>
          <input type="text" class="form-control" placeholder="Telefono" [(ngModel)] = "telefono">
        </div>
        <div class="mb-3">
          <label  class="form-label">Departamento</label>
          <input type="text" class="form-control" placeholder="Departamento" [(ngModel)] = "departamento">
        </div>
        <div class="mb-3">
          <label  class="form-label">Ciudad</label>
          <input type="email" class="form-control" placeholder="Ciudad" [(ngModel)] = "ciudad">
        </div>
        <div class="mb-3">
          <label  class="form-label">Contraseña</label>
          <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)] = "contrasena">
        </div>
      
      <div class="container">
        <app-datos-ususario
        [email]="email"
        [contrasena]="contrasena"
        (emailHijo)="calculoEmail($event)"
        (contrasenaHijo)="calculoContrasena($event)"
        ></app-datos-ususario>
        <div class="container">
          <div  class="row">
            <p>Nombre : {{nombreNew}}</p>
            <p>Apellido : {{apellidoNew}}</p>
            <p>Email: {{emailNew}}</p>
            <p>Contraseña: {{contrasenaNew}}</p>
          </div>
        </div>
      </div>
</div>
