<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard/main">
          <img src="https://cdn-icons-png.flaticon.com/128/7225/7225580.png" alt="Bootstrap" width="40" height="30">
          Home
        </a>
      <!--<button class="navbar-toggler border border-warning" href="/dashboard/usuario" > <img src="https://cdn-icons-png.flaticon.com/128/7422/7422067.png" alt="" height="20"> </button> -->
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <!-- <a href="/dashboard/usuario" routerLinkActive="active" class="btn border border-white"><img src="https://cdn-icons-png.flaticon.com/128/7422/7422067.png" alt="" height="20"></a> -->
        <a href="/dashboard/listar" *ngIf="admin" routerLinkActive="active" class="btn border border-white"><img src="https://cdn-icons-png.flaticon.com/512/9178/9178877.png" alt="" height="20"></a>
        <a href="/dashboard/agregar-producto" routerLinkActive="active" class="btn border border-white"><img src="https://cdn-icons-png.flaticon.com/512/7032/7032300.png" alt="" height="20"></a>
        <a href="login" (click)="logout()" routerLinkActive="active" class="btn border border-white"><img src="https://cdn-icons-png.flaticon.com/512/3580/3580154.png" alt="" height="20"></a>
      </div>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
